<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./assets/css/register.css" />
    <link rel="stylesheet" href="./assets/css/utility.css" />
  </head>
  <body>
    <div class="bg-register-img">
      <div class="padding-top-reg main_padding">
        <div class="row m-0 box-shadow-reg form-radius rounded-right-reg">
          <div class="col-md-5 bg-register-img2 p-0">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 padding-bottom-reg inner-padding">
                <img
                  src="./assets/images/register_logo.png"
                  alt=""
                  class="img-fluid "
                />
                <div class="display-2 font-600 text-white pt-5">Register</div>
                <div class="progress">
                  <div
                    class="progress-bar w-75"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <div class="h3 m-0 text-white pt-5">No Credit Cards.</div>
                <div class="h3 m-0 text-white">No Commitments</div>
                <div class="h3 m-0 text-white">It takes only 2 minutes.</div> 
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
          <div
            class="col-md-7 padding-right-reg padding-left-reg bg-white rounded-right-reg"
          >
            <div class="text-right pt-4">
              <div class="">Already Login?</div>
              <div class="pr-4 cl-3AC574 h5">Login</div>
            </div>
            <div class="h1 text-center cl-3AC574 pt-2">Register</div>
            <div class="pl-5 pr-5">
              <div class="input-group mb-3 border-input pt-5 d-flex flex-nowrap">
                <div
                  ><img src="./assets/images/shoping cart-8.png" alt=""
                /></div>
                <div
                  ><input
                    type="text"
                    class="form-control border-0"
                    placeholder="What is the name of your business?"
                    aria-label=""
                    aria-describedby="basic-addon1"
                /></div>
              </div>
              <label class="cl-3AC574 m-0">
                <span><img src="./assets/images/Path 122.png" alt="" /></span>
                <span class="pl-1">Link to your Public Profile</span>
              </label>
              <div class="input-group mb-3 border-input pt-0 pl-3">
                <input
                  type="text"
                  class="form-control border-0 pl-4 pt-0"
                  placeholder="Link.public.profile"
                  aria-label=""
                  aria-describedby="basic-addon1"
                />
              </div>
              <div class="input-group mb-3 border-input pt-4 d-flex flex-nowrap">
                <div><img src="./assets/images/men-8 (1).png" alt="" /></div>
                <div
                  ><input
                    type="text"
                    class="form-control border-0"
                    placeholder="Enter your name"
                    aria-label=""
                    aria-describedby="basic-addon1"
                /></div>
              </div>
              <div class="input-group mb-3 border-input pt-4">
                <span><img src="./assets/images/sms -8.png" alt="" /></span>
                <span
                  ><input
                    type="text"
                    class="form-control border-0"
                    placeholder="Enter your email"
                    aria-label=""
                    aria-describedby="basic-addon1"
                /></span>
              </div>
              <div class="input-group mb-3 border-input pt-4 mb-4">
                <span><img src="./assets/images/key-8.png" alt="" /></span>
                <span
                  ><input
                    type="text"
                    class="form-control border-0"
                    placeholder="Enter your password"
                    aria-label=""
                    aria-describedby="basic-addon1"
                /></span>
              </div>
              <button
                type="button"
                class="btn bg-3AC574 w-100 mt-5 pt-2 pb-2 mb-3 text-white"
              >
                Continue Creating Account
              </button>
              <div class="pt-4 cl-gray">
                <p>
                  By Sigining up I agree the
                  <span class="cl-3AC574">terms and conditions</span> and
                  <span class="cl-3AC574">privacy policy</span>
                </p>
              </div>
              <div class="text-center">
                <h6 class="m-0 mb-5 pr-4 pb-2 border-bottom cl-gray">
                  Message & Data Rates may Apply
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br>
    <br>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
