.form-radius{
  border-radius: 15px;
}
.bg-register-img{
background-image: url('../images/register-bg.png');
background-position: fixed;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
}
.bg-register-img2{
background-image: url('../images/register.png');
background-position: fixed;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
}
.bg-3AC574{
background-color: #3AC574;

}