.bg_portfolioImg{
  background-image:  url('../images/group282.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 502px;
  width: 100%;
  border-radius: 8px;
}