.bg_portfolioImg{
  background-image:  url('../images/group282.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
  width: 100%;
  border-radius: 8px;
}
/* .carousel-control-next {
  right: -23px !important;
}
.carousel-control-next {
  left: -23px !important;
} */
/* .carousel-control-next {
  left: -23px !important;
} */
.carousel-indicators {
  bottom: 57px !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
 
  height: 34px !important;
}
.carousel-control-next-icon {
  background-image: url('../images/rightwhite.png') !important;
}
.carousel-control-prev-icon {
  background-image: url('../images/leftwhite.png') !important;
}
.border-bottom{
  border-bottom: 1px solid #FFFFFF;
}
.table_scroll{
  height: 303px;
  /* overflow: hidden; */
  overflow-y: scroll;
  background-color: #ffffff;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  background: #ffffff;
}
.table-responsive::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
  width: 8px;
}

.table-responsive::-webkit-scrollbar:horizontal {
  height: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #3AC574;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
  border-radius: 10px;  
  background-color: #ffffff; 
}
.table td, .table th {
  text-align: center;
  vertical-align: text-bottom ;

}
.bg_img_8{
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 20%), rgb(33 34 34 / 20%)), url('../images/download (1).png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 99.71989860583017vh; */
  height: 720px;
  width: 100%;
  border-radius: 10px;
}
.bg_imgcol-5{

  background-image: linear-gradient(to bottom, rgb(0 0 0 / 20%), rgb(33 34 34 / 20%)), url('../images/1444665787925.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 46.71989860583017vh; */
  height: 340px;
  width: 100%;
  border-radius: 10px;
}
.bg_imgcol-5_two{
  
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 20%), rgb(33 34 34 / 20%)), url('../images/571c8df6c7e5dedcda6a312d9cd2086b.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 46.71989860583017vh; */
  height: 340px;
  width: 100%;
  border-radius: 10px;
  margin-top: 39px;
}
.h-6px{
  height: 8px !important;
}
.w-261{
  width: 261px;
}
.carousel-control-next {
  right: -11px;
}
.carousel-control-prev {
  left: -11px;
}
.card_boxShadow{
  
  box-shadow: rgb(0 0 0 / 22%) 1px 4px 12px;

}